.sidebar {
    min-height: 100%;
    background-color: var(--color-black-off);
}

.sidebar__body {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

@media (--media-sidebar-enabled) {
    .sidebar {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;

        border-left: 1px dotted var(--color-black);

        display: flex;
        flex-direction: column;
    }

    .layout__app__sidebar_single .sidebar {
        width: var(--width-sidebar-single);
    }

    .layout__app__sidebar_double .sidebar {
        width: var(--width-sidebar-double);
    }

    .sidebar__body {
        flex-grow: 1;
        overflow: auto;
        margin-bottom: 0.5rem;
    }
}

@media (--media-sidebar-disabled) {
    .sidebar__body {
        max-height: 50vh;
        overflow-y: auto;
    }

    .sidebar__button {
        display: none;
    }
}
